@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5dfeb;
    --cor1: #83dbe1;
    --cor2: #3d87dc;
    --cor3: #2f6aa8;
    --cor4: #1a275c;
    --cor5: #11063d;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

body {
    margin: 5px;
    text-align: justify;
}

header {   
    background-image: linear-gradient(to bottom, #11063d, lightblue);
    text-align: center;
    color: white;
    border-radius: 5px;
    padding: 5.25px;
}

header > h1 {
    font-weight: normal;
    color: white;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

nav {
    text-align: right;
    background-color: lightblue;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);
}

nav > a {
    padding: 8px;
    padding-bottom: 0.5px;
    border-radius: 5px;
    transition-duration: 0.75s;
}

nav > a:hover {
    background-color: rgb(103, 162, 182);
}

main {
    display:inline-flex;
    padding-left: 200px;
    padding-right: 200px;
}

.bloco1 {
    padding-top: 30px;
    position: relative;
}

.bloco2 {
    padding-top: 30px;
    padding-left: 60px;
    text-align: justify;
}

.bloco3 {
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
}


footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1)
}